*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
    cursor: default;
    font-weight: bold ;
}
body{
    background-color: #fcfcf3;
    color: black;
    justify-content: center;
}
.container {
    position: fixed;
    width: 100%;
    height: 100%;
}
ul.noBPs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logoImg{
    width: 160px;
    height: 160px;
    position: fixed;
    top: -30px;
    left: 0;
    z-index: 6;
}
.webBanner{
    width: 80%;
    height: 5%;
    position: absolute;
    top: 0;   
    left: 0;
    z-index: 1;
    opacity: 60%;
}
.yellow-top-panel {
    position: fixed;
    top: 0; 
    left: 0;
    width: 80%;
    height: 5%;
    background-color: #96f954;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}
.tab_options_top {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 15px;
    align-items: center;
    height: 100%;
    gap: 10px;
    z-index: 3;
}
.topBackgroundImage{
    background-color: palegoldenrod;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: #007BFF; 
} 

.separator {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    font-size: 12px;
}

.yellow-left-panel {
    position: fixed;
    top: -10;
    left: 0; 
    width: 160px;
    height: 50%;
    background-color: #96f954;
    border-radius: 5px;
    z-index: 1;
}

.tab_options_side {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 110px;
    padding-left: 5px;
    height: 100%;
    gap: 30px;
    z-index: 2;
}

#titleLink{
    background: none;
    font-size: 18.5px;
    border:none;
    padding: 5px 5px;
}
#titleLink:hover{
    background-color: yellow;
    font-size: 18px;
}
.userTime{
    background-color: palegoldenrod;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    z-index: 2;
}
.musicBox{
    background-color: palegoldenrod;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    height: 80px;
    z-index: 2;
}
.gifBox{
    background-color: palegoldenrod;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    height: 80px;
    z-index: 2;
}
.main-section {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:5%;
    left: 150px;
    width: 66%;
    height: 45%;
    background-color: #eeeee4;
}
.main-section_sectionBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 30%;
    height: 10%;
    background-color: #36780a;
    border-radius: 5px;
    transform: translateX(-50%);
}
.sectionTitle{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    text-align: center;
}
.sectionDesc {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80%;
    height: 15%;
    transform: translateX(-50%);
    background-color: #8a539b;
}
.main-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25%;        
    left: 50%;
    width: 80%;
    height: 67%;
    transform: translateX(-50%);
    background-color: #539b53;
}

.section-list_viewResume {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: right;
    top: 3%;
    left: 50%;
    width: 90%;
    height: 93%;
    transform: translateX(-50%);
}
.section-list_interests{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: right;
    top: 3%;
    left: 50%;
    width: 90%;
    height: 93%;
    transform: translateX(-50%);
}
.section-list_Inspo{display: flex;
    flex-direction: row;
    position: absolute;
    align-items: right;
    top: 3%;
    left: 50%;
    width: 90%;
    height: 93%;
    transform: translateX(-50%);
}
.section-list_resources{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: right;
    top: 3%;
    left: 50%;
    width: 90%;
    height: 93%;
    transform: translateX(-50%);
}
.sparkleBox{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: left;
    top: 47.5%;
    left: 61%;
    width: 190px;
    height: 30px;  
}

#sparkleBtn{
    background: none;
}